<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.MidnightMapper">

    <!-- 전체 조회 -->
    <select id="getPlanIdxIfVerifyRateIsUnder90" resultType="com.godLife.project.dto.scheduler.VerifyUnder90DTO">
        SELECT P.PLAN_IDX, P.CERT_EXP, P.LAST_EXP,
        CASE
        WHEN COUNT(DISTINCT A.ACTIVITY_IDX) = 0 THEN 0
        ELSE ROUND(
        (COUNT(DISTINCT V.ACTIVITY_IDX) / COUNT(DISTINCT A.ACTIVITY_IDX)) * 100, 2
        )
        END AS VERIFY_RATE
        FROM PLAN_TABLE P
        LEFT JOIN PLAN_ACTIVITY A ON P.PLAN_IDX = A.PLAN_IDX
        LEFT JOIN VERIFY_TABLE V ON A.ACTIVITY_IDX = V.ACTIVITY_IDX AND V.VERIFY_DATE = TRUNC(SYSDATE)
        WHERE (P.IS_ACTIVE = 1 AND P.IS_COMPLETED = 0) AND P.IS_DELETED = 0
        GROUP BY P.PLAN_IDX, P.CERT_EXP, P.LAST_EXP
        HAVING ROUND((COUNT(DISTINCT V.ACTIVITY_IDX) / COUNT(DISTINCT A.ACTIVITY_IDX)) * 100, 2) <![CDATA[ < ]]> 90
    </select>

    <update id="decreaseCertExp" parameterType="com.godLife.project.dto.scheduler.VerifyUnder90DTO">
        UPDATE PLAN_TABLE
        SET CERT_EXP = CERT_EXP - #{minusExp}
        WHERE PLAN_IDX = #{planIdx}
        AND LAST_EXP - (CERT_EXP - #{minusExp}) <![CDATA[ <= ]]> #{expLimit}
    </update>

    <!-- 탈퇴 회원 삭제 처리 -->
    <update id="clearAccount" parameterType="int">
        UPDATE USER_TABLE
        SET USER_NAME = '탈퇴회원' || TO_CHAR(USER_DELETE_SEQ.NEXTVAL),
        USER_ID = 'DELETED ' || TO_CHAR(USER_DELETE_SEQ.NEXTVAL),
        USER_PW = 'DELETED',
        USER_NICK = '탈퇴회원',
        USER_EMAIL = '탈퇴회원 '|| TO_CHAR(USER_DELETE_SEQ.NEXTVAL),
        JOB_IDX = 1,
        TARGET_IDX = 1,
        USER_PHONE = '000-0000-0000',
        USER_GENDER = 0,
        AUTHORITY_IDX = 1,
        NICK_TAG = '#' || TO_CHAR(USER_DELETE_SEQ.NEXTVAL),
        COMBO = 0,
        USER_EXP = 0,
        IS_DELETED = 'D'
        WHERE IS_DELETED = 'Y'
        AND DELETE_DATE + #{expire} <![CDATA[ <= ]]> SYSDATE
    </update>

</mapper>
