<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.QnaMapper">

    <!-- 특정 QnA를 Idx로 조회하는 select 쿼리 -->
    <select id="selectQnaById" parameterType="long" resultType="com.godLife.project.dto.contents.QnADTO">
        SELECT QNA_IDX, Q_IDX, Q_TITLE, Q_SUB, Q_DATE,
               A_IDX, A_SUB, A_DATE, QNA_PRIV, PRIV_PW, IS_ANSWERED
        FROM QNA_TABLE
        WHERE QNA_IDX = #{qnaIdx}
    </select>

    <!-- 답변시 답변상태 업데이트 -->
    <update id="updateAnswer">
        UPDATE QNA_TABLE
        SET A_IDX = #{aIdx},
            A_SUB = #{aSub},
            A_DATE = SYSDATE,
            IS_ANSWERED = 'Y'
        WHERE QNA_IDX = #{qnaIdx}
    </update>

    <!-- 모든 QnA를 조회하는 select 쿼리 -->
    <select id="selectAllQna" resultType="com.godLife.project.dto.contents.QnADTO">
        SELECT * FROM QNA_TABLE
    </select>

    <!-- QnA 작성 쿼리 -->
    <insert id="insertQna" parameterType="com.godLife.project.dto.contents.QnADTO">
        INSERT INTO QNA_TABLE (QNA_IDX, Q_IDX, Q_TITLE, Q_SUB, Q_DATE, QNA_PRIV, PRIV_PW)
        VALUES (Qna_SEQ.NEXTVAL, #{qIdx}, #{qTitle}, #{qSub}, SYSDATE, #{qnaPriv}, #{privPw})
    </insert>

    <!-- QnA 수정 update 쿼리 -->
    <update id="updateQna" parameterType="com.godLife.project.dto.contents.QnADTO">
        UPDATE QNA_TABLE
        SET Q_IDX = #{qIdx},
            Q_TITLE = #{qTitle},
            Q_SUB = #{qSub},
            Q_DATE = #{qDate},
            QNA_PRIV = #{qnaPriv},
            PRIV_PW = #{privPw}
        WHERE QNA_IDX = #{qnaIdx}
    </update>


    <!-- 제목 또는 내용에 검색어가 포함된 QnA를 검색하는 select 쿼리 -->
    <select id="searchQna" parameterType="java.lang.String" resultType="com.godLife.project.dto.contents.QnADTO">
        SELECT * FROM QNA_TABLE
        WHERE CONTAINS(Q_TITLE, #{query}) > 0
        OR CONTAINS(Q_SUB, #{query}) > 0
    </select>

</mapper>