<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.QnaMapper">

    <!-- 질문 추가 -->
    <insert id="insertQuestion">
        INSERT INTO QNA_TABLE (QNA_IDX, Q_IDX, Q_TITLE, Q_DATE, Q_CATEGORY)
        VALUES (QNA_SEQ.NEXTVAL, #{qIdx}, #{qTitle}, SYSDATE, #{qCategory})
    </insert>

    <!-- 질문 내용 추가 -->
    <insert id="insertQnaContent">
        INSERT INTO QNA_CONTENT (Q_CONTENT_IDX, QUESTION_IDX, RESPONSE_IDX, RESPONSE_SUB, CREATED_AT)
        VALUES (QNA_CONTENT_SEQ.NEXTVAL, #{questionIdx}, #{responseIdx}, #{responseSub}, SYSDATE)
    </insert>

    <!-- 특정 질문 조회 -->
    <select id="selectQuestionById" resultType="com.godLife.project.dto.contents.QnADTO">
        SELECT * FROM QNA_TABLE WHERE QNA_IDX = #{qnaIdx}
    </select>

    <!-- 질문에 대한 메시지 목록 조회 -->
    <select id="getQnaContent" resultType="com.godLife.project.dto.contents.QnaContentDTO">
        SELECT * FROM QNA_CONTENT WHERE QUESTION_IDX = #{questionIdx} ORDER BY CREATED_AT
    </select>

</mapper>