<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.QnaMapper">

    <!-- 1:1 문의 작성 -->
    <insert id="createQna" parameterType="com.godLife.project.dto.contents.QnaDTO">
        <selectKey keyProperty="qnaIdx" resultType="int" order="BEFORE">
            SELECT QNA_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO QNA_TABLE(QNA_IDX, Q_USER_IDX, TITLE, CONTENT, CREATED_AT, CATEGORY, QNA_STATUS)
        VALUES(#{qnaIdx}, #{qUserIdx}, #{title}, #{content}, SYSDATE, #{category}, 'WAIT')
    </insert>


</mapper>
