<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.ChallengeMapper">

    <!-- 챌린지 생성 (관리자 전용) -->
    <insert id="createChallenge">
        <selectKey keyProperty="challIdx" resultType="java.lang.Long" order="AFTER">
            SELECT CHALL_SEQ.CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO CHALL_TABLE (
        CHALL_IDX, CHALL_TITLE, CHALL_DESCRIPTION, CHALL_CATEGORY_IDX, MIN_PARTICIPATION_TIME, TOTAL_CLEAR_TIME, MAX_PARTICIPANTS,CHALL_CREATED_AT, CHALL_STATE,
         CHALL_START_TIME, CHALL_END_TIME, USER_JOIN)
        VALUES (CHALL_SEQ.NEXTVAL, #{challTitle}, #{challDescription}, #{challCategoryIdx}, #{minParticipationTime}, #{totalClearTime}, #{maxParticipants},
        SYSDATE, #{challState}, #{challStartTime, jdbcType=TIMESTAMP},#{challEndTime, jdbcType=TIMESTAMP}, #{userJoin})
    </insert>


    <!-- 챌린지 상세정보 조회 -->
    <select id="challengeDetail" resultType="com.godLife.project.dto.contents.ChallengeDTO">
        SELECT
            CHALL_IDX, CHALL_TITLE, CHALL_DESCRIPTION, CHALL_CATEGORY_IDX,
            MIN_PARTICIPATION_TIME, TOTAL_CLEAR_TIME, MAX_PARTICIPANTS,
            CHALL_START_TIME, CHALL_END_TIME, CHALL_CREATED_AT, CHALL_STATE
        FROM Chall_table
        WHERE CHALL_IDX = #{challIdx}
    </select>

    <!-- 현재 참여자 수 조회 (user_idx COUNT) -->
    <select id="countParticipants" resultType="int">
        SELECT COUNT(user_idx)
        FROM Chall_join
        WHERE chall_idx = #{challIdx}
    </select>

    <!-- 유저 참여형 챌린지 최초 참여 시 정보 업데이트 -->
    <update id="updateChallengeStartTime">
        UPDATE CHALL_TABLE
        SET CHALL_START_TIME = #{startTime},
            CHALL_END_TIME = #{endTime},
            CHALL_STATE = #{state}
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 유저 참여 기록 -->
    <insert id="addUserToChallenge">
        INSERT INTO CHALL_JOIN (chall_idx, user_idx, startTime, endTime, activity)
        VALUES (#{challIdx}, #{userIdx}, #{startTime}, #{endTime}, #{activity})
    </insert>

    <!-- 카테고리 조회 -->
    <select id="getChallengesByCategoryId" resultType="com.godLife.project.dto.contents.ChallengeDTO">
        SELECT
            CHALL_IDX,
            CHALL_TITLE,
            CHALL_DESCRIPTION,
            CHALL_CATEGORY_IDX,
            MIN_PARTICIPATION_TIME,
            TOTAL_CLEAR_TIME,
            MAX_PARTICIPANTS,
            CHALL_START_TIME,
            CHALL_END_TIME,
            CHALL_CREATED_AT,
            CHALL_STATE
        FROM CHALL_TABLE
        WHERE CHALL_CATEGORY_IDX = #{challCategoryIdx}
        ORDER BY CHALL_CREATED_AT DESC
    </select>

    <!-- 인증 기록 저장 -->
    <insert id="insertVerifyRecord">
    INSERT INTO VERIFY_TABLE (
        VERIFY_IDX, CHALL_IDX, USER_IDX, VERIFY_DATE, ELAPSED_TIME)
    VALUES (
        VERIFY_SEQ.NEXTVAL, #{challIdx}, #{userIdx}, #{verifyDate}, #{elapsedTime}
    )
    </insert>

    <!-- 남은 클리어 시간 차감 -->
    <update id="updateClearTime">
        UPDATE CHALL_TABLE
        SET TOTAL_CLEAR_TIME = TOTAL_CLEAR_TIME - #{elapsedTime}
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 클리어 시간 0 이하 시 챌린지 종료 처리 -->
    <update id="finishChallenge">
        UPDATE CHALL_TABLE
        SET CHALL_STATE = 'FINISHED'
        WHERE CHALL_IDX = #{challIdx}
    </update>

<!-- 최신순 챌린지 리스트 조회 -->
<select id="getLatestChallenges" resultType="com.godLife.project.dto.contents.ChallengeDTO">
    SELECT
    CHALL_IDX,
    CHALL_TITLE,
    CHALL_DESCRIPTION,
    CHALL_CATEGORY_IDX,
    MAX_PARTICIPANTS,
    CHALL_CREATED_AT,
    CHALL_END_TIME,
    FROM CHALL_TABLE
    WHERE CHALL_END_TIME IS NULL OR CHALL_END_TIME > SYSDATE
    ORDER BY CHALL_CREATED_AT DESC
</select>

    <!-- 챌린지 존재 확인 -->
    <select id="existsById" resultType="int">
        SELECT COUNT(*) FROM chall_table WHERE chall_idx = #{challIdx}
    </select>

    <!-- 챌린지 수정 -->
    <update id="modifyChallenge">
    UPDATE CHALL_TABLE
    SET CHALL_TITLE = #{challTitle},
    CHALL_DESCRIPTION = #{challDescription},
    CHALL_CATEGORY_IDX = #{challCategoryIdx},
    MIN_PARTICIPATION_TIME = #{minParticipationTime},
    MAX_PARTICIPANTS = #{maxParticipants}
    WHERE CHALL_IDX=#{challIdx}
    </update>

    <!-- 챌린지 삭제 -->
    <delete id="deleteChallenge">
    DELETE FROM CHALL_TABLE
    WHERE CHALL_IDX = #{challIdx}
    </delete>


</mapper>
