<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.ChallengeMapper">

    <!-- 챌린지 생성 (관리자 전용) -->
    <insert id="createChallenge">
        INSERT INTO CHALL_TABLE (title, description, category_idx, state, created_at)
        VALUES (#{title}, #{description}, #{categoryIdx}, #{state}, SYSDATE)
    </insert>

    <!-- 챌린지 정보 조회 -->
    <select id="getChallenge" resultType="com.godLife.project.dto.contents.ChallengeDTO">
        SELECT
        FROM CHALL_TABLE
        WHERE CHALL_IDX= #{challidx}
    </select>

    <!-- 챌린지 시작 업데이트 (최초 참여 시) -->
    <update id="startChallenge">
        UPDATE CHALL_TABLE
        SET CHALL_START_TIME = #{challStartTime},
            CHALL_END_TIME = #{challEndTime},
            CHALL_STATE = #{challState}
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 인증 기록 저장 -->
    <insert id="insertVerifyRecord">
    INSERT INTO VERIFY_TABLE (
        VERIFY_IDX, CHALL_IDX, USER_IDX, VERIFY_DATE, ELAPSED_TIME)
    VALUES (
        VERIFY_SEQ.NEXTVAL, #{challIdx}, #{userIdx}, #{verifyDate}, #{elapsedTime}
    )
    </insert>

    <!-- 남은 클리어 시간 차감 -->
    <update id="updateClearTime">
        UPDATE CHALL_TABLE
        SET TOTAL_CLEAR_TIME = TOTAL_CLEAR_TIME - #{elapsedTime}
        WHERE CHALL_IDX = #{challIdx}
    </update>

    <!-- 클리어 시간 0 이하 시 챌린지 종료 처리 -->
    <update id="finishChallenge">
        UPDATE CHALL_TABLE
        SET CHALL_STATE = 'FINISHED'
        WHERE CHALL_IDX = #{challIdx}
    </update>

<!-- 최신순 챌린지 리스트 조회 -->
<select id="getLatestChallenges" resultType="com.godLife.project.dto.contents.ChallengeDTO">
    SELECT
    CHALL_IDX,
    CHALL_TITLE,
    CHALL_DESCRIPTION,
    CHALL_CATEGORY_IDX,
    MAX_PARTICIPANTS,
    CHALL_CREATED_AT,
    CHALL_END_TIME
    FROM CHALL_TABLE
    WHERE CHALL_END_TIME IS NULL OR CHALL_END_TIME > SYSDATE
    ORDER BY CHALL_CREATED_AT DESC
</select>



</mapper>
