<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.PlanMapper">
  <insert id="insertPlan" parameterType="com.godLife.project.dto.datas.PlanDTO">
    INSERT INTO PLAN_TABLE(PLAN_IDX, USER_IDX, PLAN_TITLE, END_TO, TARGET_IDX, IS_SHARED, PLAN_IMP, JOB_IDX)
    VALUES (PLAN_SEQ.NEXTVAL, #{userIdx}, #{planTitle}, #{endTo}, #{targetIdx}, #{isShared}, #{planImp}, #{jobIdx})
    <selectKey keyProperty="planIdx" resultType="int" order="AFTER">
      SELECT PLAN_SEQ.CURRVAL FROM DUAL
    </selectKey>
  </insert>

  <insert id="insertActivity" parameterType="com.godLife.project.dto.datas.ActivityDTO">
    INSERT INTO PLAN_ACTIVITY
    VALUES (ACTIVITY_SEQ.NEXTVAL, #{planIdx}, #{activityName}, #{setTime}, #{description}, #{activityImp})
  </insert>
</mapper>