<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godLife.project.mapper.PlanMapper">

  <!-- 루틴 저장 쿼리 -->
  <insert id="insertPlan" parameterType="com.godLife.project.dto.datas.PlanDTO">
    INSERT INTO PLAN_TABLE(
      PLAN_IDX, USER_IDX, PLAN_TITLE, END_TO, TARGET_IDX, IS_SHARED, PLAN_IMP, JOB_IDX
      <if test="isActive != null and isActive == 1">
        , IS_ACTIVE, PLAN_SUB_START, PLAN_SUB_END
      </if>
    )
    VALUES (
      PLAN_SEQ.NEXTVAL, #{userIdx}, #{planTitle}, #{endTo}, #{targetIdx}, #{isShared}, #{planImp}, #{jobIdx}
      <if test="isActive != null and isActive == 1">
        , #{isActive}, SYSDATE, SYSDATE + #{endTo}
      </if>
    )
    <selectKey keyProperty="planIdx" resultType="int" order="AFTER">
      SELECT PLAN_SEQ.CURRVAL FROM DUAL
    </selectKey>
  </insert>

  <!-- 활동 저장 쿼리 -->
  <insert id="insertActivity" parameterType="com.godLife.project.dto.datas.ActivityDTO">
    <choose>
      <when test="setTime != null ">
        INSERT INTO PLAN_ACTIVITY
        VALUES (ACTIVITY_SEQ.NEXTVAL, #{planIdx}, #{activityName}, #{setTime}, #{description}, #{activityImp})
      </when>
      <otherwise>
        INSERT INTO PLAN_ACTIVITY (ACTIVITY_IDX, PLAN_IDX, ACTIVITY_NAME, DESCRIPTION, ACTIVITY_IMP)
        VALUES (ACTIVITY_SEQ.NEXTVAL, #{planIdx}, #{activityName}, #{description}, #{activityImp})
      </otherwise>
    </choose>
  </insert>

  <!-- 루틴 수정 쿼리 -->
  <update id="modifyPlan" parameterType="com.godLife.project.dto.datas.PlanDTO">
    UPDATE PLAN_TABLE
    SET PLAN_TITLE = #{planTitle},
        END_TO = #{endTo},
        TARGET_IDX = #{targetIdx},
        JOB_IDX = #{jobIdx},
        PLAN_IMP = #{planImp},
        PLAN_SUB_MOD = SYSDATE,
        IS_SHARED = #{isShared}
    WHERE PLAN_IDX = #{planIdx} AND USER_IDX = #{userIdx}
  </update>

  <!-- 활동 수정 쿼리 -->
  <update id="modifyActivity" parameterType="com.godLife.project.dto.datas.ActivityDTO">
    UPDATE PLAN_ACTIVITY
    SET ACTIVITY_NAME = #{activityName},
        <if test="setTime != null">
          SET_TIME = #{setTime},
        </if>
        <if test="setTime == null">
          SET_TIME = NULL,
        </if>
        DESCRIPTION = #{description},
        ACTIVITY_IMP = #{activityImp}
    WHERE PLAN_IDX = #{planIdx} AND ACTIVITY_IDX = #{activityIdx}
  </update>

  <!-- 루틴 삭제 처리 -->
  <update id="deletePlan" parameterType="map">
    UPDATE PLAN_TABLE
       SET IS_DELETED = 1
     WHERE PLAN_IDX = #{planIdx} AND USER_IDX = #{userIdx}
  </update>
</mapper>